/* Start Main Rulez */
.container {
    width:1170px;
    margin:auto;
}
.clearfix {
    clear:both;
}
/* End Main Rulez */

/* Start Headar */
.header .slider {
    background-image:url('https://images.freecreatives.com/wp-content/uploads/2016/02/Blue-Polka-Dot-Backing-Paper-Background.jpg');
    -webkit-background-size:cover;/* CSS3 */
    -moz-background-size:cover;/* CSS3 */
    -o-background-size:cover;/* CSS3 */
    background-size:cover;/* CSS3 */
    height:600px;
}
.header .slider .intro {
    padding-top:200px;
    text-align:center;
    color:#FFF;
}
.header .slider .intro h2 {
    margin:0 auto;
    font-size:50px;
    width:600px;
    padding:5px 0;
    color: #031A6B;
}
.header .slider .intro button {
    background:none;
    margin-top:30px;
    font-size:20px;
    border:3px solid #FFF;
    color:#FFF;
    font-weight:bold;
    padding:10px 20px;
}

/*--------------------------------------------------------------------------------------*/

.header .navbar {
    background-color:#252e30;
    color:#fff;
    overflow:hidden;
    }
.header .navbar h2 {
    text-transform:uppercase;
    color:#B4E1FF;
}
.header .navbar h2 span {
    color:##B4E1FF;
}
.header .navbar ul {
    list-style:none;
    padding-left:0;
    overflow:hidden;
    float:right;
}
.header .navbar ul li {

    padding:10px;
}
.header .navbar ul li a {
    color:#FFF;
    text-decoration:none;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover {
    color:#B4E1FF;
}
/* End Header */

/* start Features */
.features {
    overflow:hidden;
    padding-bottom:20px;
}
.features .feat {
    width:33.333333%;
    height:300px;

}
/* End Features */

/* Start About Me */
.about-me {
    overflow:hidden;
}
.about-me .image {
    width:40%;
}
.about-me .image img {
    width:100%;
}
.about-me .info {
    width:60%;
}
.about-me .info h2 {
    margin:25px 0 20px 40px;

}
.about-me .info > p {
    margin:0 0 10px 40px;
    text-align: center;
}
.about-me .info > p:last-of-type {
    margin-top:25px;
    margin-bottom: 50px;
}
.about-me .info .hobbies {
    overflow:hidden;
    margin:15px 0 0 40px;
}
.about-me .info .hobbies .content {
    width:50%;
    overflow:hidden;
}
.about-me .info .hobbies .content h3 {
    margin-top: 0;
}
.about-me .info .hobbies .content .icon {
    width:12%;
    margin-right:5%;
}
.about-me .info .hobbies .content .icon i {
    color:forestgreen;
    margin:5px;
}
.about-me .info .hobbies .content .text {
    width:83%;
}
.about-me .info .hobbies .content .text p {
    margin-top: 40;
}
.about-me .info .hobbies .content .text h3 {
    margin-bottom: 5px;
}
/* End About Me */

/* Start My Education */
.my-education {
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden;
}
.my-education hr {
    margin:20px 0;
    background-color:#B4E1FF;
    height:1px;
    border:0;
}
.my-education .main{
    width:50%;
    margin-right:5%;
}
.my-education .main h2 {
    margin:25px 0 20px 40px;
    margin-top:65px;

}
.my-education .main p {
    margin:0 0 10px 40px;
}
.my-education .main p:last-of-type {
    margin-top:25px;
}
.my-education .exp {
    width:45%;
}
.my-education .exp h3 {
    margin-top:70px;
    margin-bottom:10px;
}
.my-education .exp span {
    display:block;
    margin-bottom:10px;
}
.my-education .exp span:first-of-type {
  color:steelblue;
  display:inline-block;

}
.my-education .exp span:last-of-type {
    /*background-color:steelblue;*/
    color:steelblue;
    display:inline-block;
    padding:4px 10px;
}
.my-education hr {
    margin:20px 0;
    background-color:#999;
    height:1px;
    border:0;
}
/* End My Education */

/* Start Portfolio */
.portfolio {
    padding-top:50px;
    padding-bottom:70px;
    text-align:center;
}
.portfolio h2 {
    font-size:30px;
}
.portfolio p {
    padding-bottom:70px;
}
.portfolio .our-work {
    overflow:hidden;
}
.portfolio .our-work > div {
    width:33.333333%;
    margin-bottom:15px;
}
.portfolio .our-work > div img {
    width:92%;
    margin-bottom:10px;
    padding:3px;
    background-color:#FFF;
    border:1px solid #CCC;
    box-shadow:10px 10px 12px #ccc;
    cursor:pointer;
}
/* End Portfolio */

/* Start My Framework */
.my-button {
    background:none;
    border:3px solid #2DCC70;
    padding:10px 30px;
    color:#2DCC70;
   }
.fl-left {float:left;}
p {
    line-height:1.7;
    color:#888;
}
h2, h3 {
  color:#B4E1FF;
  text-align: center;

}

/* End My Framework */


 /* Makes images fully responsive */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 80%;
  height: 100;
}

/* ------------------- Carousel Styling ------------------- */
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;

}

.carousel-inner {
  border-radius: 15px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
#logo {
  display: inline-block;
  clear: both;
	width: 800px;
	font-family:'Lily Script One';
	font-size:40px;
	text-align:center;
	color: black;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

#logo:hover {
	color:steelblue;
}
.img-placeholder{
  border-style: solid;
  border-radius: 10px;
  background-color: grey;
  min-height: 200px;
  margin:1px;
  cursor: pointer;

}

.img-placeholder:hover {
    background-color: orange;
  }
  .contact {
    padding: 10px;
    color: #fff;
  }

  #contact-form {
    padding: 10px;
  }

  textarea {
    resize: none;
  }

  #home {
    background:rgba(34, 34, 34, 0.8);
    background-size:cover;
    background-color:#B4E1FF;
    height:700px;
    vertical-align:middle;
  }
  @media screen and (max-width: 480px){
    #home {
      height:100%;
    }
    #home button {
      display:block;
      width:100%;
      margin:0 auto;
      margin-top:5px;
    }
    #gravatar {
      margin:0 auto;
    }
  }
  #home h1 {
    color:#FFFEFF;
  }

  #home .jumbotron {
    background:rgba(34, 34, 34, 0.8);
    margin-top: 300px;
    margin-left: 90px;
    padding: 15px;
    border-radius: 15px;
    width: 700px;
}

  }
  form .row:first-child .floating-label-form-group {
}
.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group input, .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.btn-success.active, .btn-success:active, .btn-success:focus, .btn-success:hover, .open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}


.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
    color: #fff;
    background: #e74c3c;
}

.btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
.btn-outline {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin-top: 15px;
}
.btn-social, .scroll-top, .scroll-top .btn {
    width: 50px;
    height: 50px;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #e74c3c;
}
.img-thumbnail {
	border: 3px solid #111;
}
#contact{
   padding:10px 0 10px;
 }

 .contact-text{
   margin:45px auto;
 }

 .mail-message-area{
   width:100%;
   padding:0 15px;
 }

 .mail-message{
   width: 100%;
   background:rgba(255,255,255, 0.8) !important;
   -webkit-transition: all 0.7s;
   -moz-transition: all 0.7s;
   transition: all 0.7s;
   margin:0 auto;
   border-radius: 0;
 }

 .not-visible-message{
   height:0px;
   opacity: 0;
 }

 .visible-message{
   height:auto;
   opacity: 1;
   margin:25px auto 0;
 }

/* Input Styles */

 .form{
   width: 100%;
   padding: 15px;
   background:#f8f8f8;
   border:1px solid rgba(0, 0, 0, 0.075);
   margin-bottom:25px;
   color:#727272 !important;
   font-size:13px;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
 }

 .form:hover{
   border:1px solid #B4E1FF;
 }

 .form:focus{
   color: white;
   outline: none;
   border:1px solid #B4E1FF;
 }

 .textarea{
   height: 200px;
   max-height: 200px;
   max-width: 100%;
 }

/* Generic Button Styles */

 .button{
   padding:8px 12px;
   background:#B4E1FF;
   display: block;
   width:120px;
   margin:10px 0 0px 0;
   border-radius:3px;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   text-align:center;
   font-size:0.8em;
   box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
 }

 .button:hover{
   background:#B4E1FF;
   color:white;
 }

/* Send Button Styles */

 .form-btn{
   width:180px;
   display: block;
   height: auto;
   padding:15px;
   color:#fff;
   background:#B4E1FF;
   border:none;
   border-radius:3px;
   outline: none;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   margin:auto;
   box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
 }

 .form-btn:hover{
   background:#111;
   color: white;
   border:none;
 }

 .form-btn:active{
   opacity: 0.9;
 }
center{
 margin-top:330px;
}
input {
   position: relative;
   z-index: 9999;
}
