    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }


    .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #B4E1FF;
}

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    .panel.panel-horizontal {
        display:table;
        width:100%;
    }
    .panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
        display:table-cell;
    }
    .panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
        width: 25%;
        border:0;
        vertical-align: middle;
    }
    .panel.panel-horizontal > .panel-heading {
        border-right: 1px solid #ddd;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
    }
    .panel.panel-horizontal > .panel-footer {
        border-left: 1px solid #ddd;
        border-top-left-radius: 0;
        border-bottom-right-radius: 4px;
    }
    .contact-form {
    margin-top:70px;
}
body {
  margin: 100px;
}
/* Tablet and bigger */
@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}
